/*style.css*/

li{
	display: inline;
	padding: 20px;
}

ul{
	background-color: #A5F5E1;
	padding: 20px;
}

a{
	color: green;
	text-decoration: none;
	padding: 20px;
}

body{
	background-image: url("background.jpg");
	background-size: auto auto;
}

.paragraph{
	margin-left: 20px;
	margin-right: 10px;
	margin-top: 30px;
}

.special{
	font-weight:serif;
	background-color: #A5F5E1;
	margin-left: 100px;
	margin-right: 150px;
	margin-top: 30px;
	border-radius: 10px;
	border-style: dashed;
	border-width: 3px;
	border-color: white;

}
